<template name="index">
  <article class="brief-about">
    <div class="left"><img src="/avatar.jpg" class="avatar"/></div>
    <div class="right">
      <h4 class="center">Hello my name is Guilherme Decampo and I develop online based companies.</h4>
      <p>
        The most important thing that I learned building, working and studying is that the customers give the rules. It's our job to search what they want
        and create the best experience ever.
      </p>
      <p>
        So far I've learned a lot and I'm currently doing some startups. I stayed in San Francisco for six months in 2013 where I had the opportunity to
        join a program called Startup Dream Team (Eighteen startup people from all over the world), visited a lot of cool startups, joined meetups and networked with great people. Also met Meteor and I'm putting all my effort in this technology.
      </p><br/>
    </div>
    <p class="center"><b>Language:</b>Javascript<br/><b>Stack:</b>Meteor ;)</p>
    <h4 class="above center">Below you can see prizes, current startups, works and old projects</h4>
  </article>
  <article id="project-list">
    <div class="container clearfix">
      <h2>Prizes</h2><a href="http://genteboa.meteor.com" target="_blank">
        <div class="polaroid">
          <p class="no">1st place, 99jobs</p><img src="/99jobs.jpg" class="polar"/>
        </div></a>
    </div>
    <div class="container clearfix">
      <h2>Current Startups/Projects</h2>
      <a href="http://www.getcleanio.com" target="_blank">
        <div class="polaroid">
          <p class="no">Cleanio</p>
          <img src="/cleanio.jpg" class="polar"/>
        </div>
      </a>
      <a href="https://www.facebook.com/groups/meteorbrasil/" target="_blank">
        <div class="polaroid">
          <p class="no">Meteor Brasil</p>
          <img src="/black.jpg" class="polar"/>
        </div>
      </a>
    </div>
    <div class="container clearfix">
      <h2>Works</h2>
      <a href="http://www.heavenstudio.com.br" target="_blank">
        <div class="polaroid">
          <p class="no">Heaven Studio</p>
          <img src="/heaven.png" class="polar"/>
        </div>
      </a>
      <a href="http://www.tegra.me" target="_blank">
        <div class="polaroid">
          <p class="no">Tegra</p>
          <img src="/tegra.png" class="polar"/>
        </div>
      </a>
      <a href="http://www.engarte.com" target="_blank">
        <div class="polaroid">
          <p class="no">Engarte</p>
          <img src="/engarte.png" class="polar"/>
        </div>
      </a>
      <a href="http://www.apon.com" target="_blank">
        <div class="polaroid">
          <p class="no">Apon</p>
          <img src="/apon.png" class="polar"/>
        </div>
      </a><a href="http://www.tbit.com.br" target="_blank">
        <div class="polaroid">
          <p class="no">Tbit</p>
          <img src="/tbit.png" class="polar"/>
        </div>
      </a>
    </div>
    <div class="container clearfix">
      <h2>Old Projects</h2>
      <a href="http://www.sedimently.com" target="_blank">
        <div class="polaroid center">
          <p class="no">Sedimently</p>
          <img src="/sedimently.jpg" class="polar"/>
        </div></a>
        <a href="http://www.agraus.com.br" target="_blank">
        <div class="polaroid">
          <p class="no">Agraus</p>
          <img src="/agraus.jpg" class="polar"/>
        </div>
      </a>
      <a href="/">
        <div class="polaroid">
          <p class="no">VaiqueVende</p>
          <img src="/vaiquevende.jpg" class="polar"/>
        </div>
      </a>
      <a href="/">
        <div class="polaroid">
          <p class="no">Quantocusta</p><img src="/quantocusta.jpg" class="polar"/>
        </div>
      </a>
    </div>
  </article>
</template>

