
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Entrepreneur and web app developer | Guilherme Decampo</title>
    <meta name="description" content="Portfolio of currently projects, works and ideas of Guilherme Decampo. This is my showcase.">
    <meta name="author" content="Guilherme Decampo">
    <!-- MOBILE-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43665867-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- This is nice han? using Meteor here... -->
</head>
  <body>
    <div id='cptup-ready'></div>
  <header>
    <div class="header-wrapper">
        <a class="main-name" href="/">Guilherme Decampo</a>
        <a class="main-name blog" href="/blog">Blog</a>
    </div>
  </header>

  <section id="intro">
    <h1>Entrepreneur and web app developer.<br> Currently living in Sorocaba, Brazil.</h1>
    <a href="#profile" class="more">
      <h5>&#59236;</h5>
    </a>
  </section>
  <section id="profile">
    <div class="container">

    {{renderRouter}}

    </div>
  </section>

  <footer>
    <section id="end">
      <div class="container">
        <ul>
          <li><a href="http://www.twitter.com/gdecampo" title="twitter">&#62218;</a></li>
          <li><a href="http://www.facebook.com/guilherme.decampo" title="facebook">&#62221;</a></li>
          <li><a href="http://github.com/guilhermedecampo" title="github">&#62209;</a></li>
          <li><a href="http://www.linkedin.com/pub/guilherme-decampo/14/911/78" title="linkedin">&#62233;</a></li><br>
          <li><a id="email" href="mailto:guilherme.decampo@gmail.com" title="email">guilherme.decampo@gmail.com</a></li><br><br>
        </ul>
      </div>
    </section>
  </footer>



  </body>



