<template name="sideBar">
<div class="sidebar_wrapper">
  <div class="left">
    <img src="/avatar-side.jpg" class="avatar-side"/>
  </div>

  <h3 class="center">Guilherme Decampo</h3>

  <div class="external_links center">
    <a href="/" ><p class="links-side">Meteor docs</p></a>
    <a href="/" ><p class="links-side">Meteor docs</p></a>
    <a href="mailto:guilherme.decampo@gmail.com" ><p class="links-side">Let's exchange links?</p></a>


  </div>
  <div class="follow">
    <h4 class="center">Subscribe for new posts</h4>
    <form accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/108120" method="post" target="_blank"class="center">
      <input type="text" name="signup[email]" placeholder="Email">
      <input type="submit" class="btn-subscribe" value="Subscribe">
    </form>
  </div>

</div>
</template>